* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body { /* disable scrolling */
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #fa9c8c url(img/background.png) no-repeat fixed center center;
    background-size: cover;
    font-family: 'GaramondBT', serif, system-ui, -apple-system, -apple-system-font;
    font-size: calc(1.1em + 0.7vw);
    height:100vh;
    width:100%;
    color: white;
}

small {
    font-size: 0.6em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover, a:active {
    color: #d1d1d1;
}

@font-face {
    font-family: 'GaramondBT';
    src: url(fonts/OriginalGaramondBT-Roman.otf);
    font-style: normal;
}

@font-face {
    font-family: 'GaramondBT';
    src: url(fonts/OriginalGaramondBT-Italic.otf);
    font-style: italic;
}

p {
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
}

.text {
    width: 80%;
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-right: 0.8em;
    line-height: 1.3em;
}

.logos {
    margin-block-start: 0.8em;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: auto;
}

/* Swipe boilerplate */

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}

.swipe-wrap {
    overflow: hidden;
    position: relative;
}

.swipe-wrap > div {
    position: relative;
    float: left;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* slides */

.title {
    background: url(img/title.png) no-repeat center;
    background-size: contain;
    height: 80vh;
    width: 80%;
}

.controls-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.controls-page > * {
    padding: 15px 0 15px 0;
}

/* Player controls */

.controls {
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.controlButton {
    cursor: pointer;
    height: 80px;
    min-width: 80px;
    background: transparent no-repeat;
    background-size: 100% auto;
    transition: opacity 80ms ease-in 100ms;
}

.controlButton:active {
    transition: none;
    opacity: 0.5;
}

.controlButton.ffw {
    transform: translate(-8px);
    background-image: url(img/wind-fw.png);
}

.controlButton.rew {
    transform: translateY(16px);
    background-image: url(img/wind-back.png);
}

.controlButton.playpause {
    background-image: url(img/play-pause.png);
    width: 160px;
    background-size: 100% auto;
}

.playpause.play {
    background-position: 50% 0px;
}

.playpause.pause {
    background-position: 50% -80px;
}

/* Fragment titles - generic */

#fragment-container {
    width: 70%;
    height: 40%;
}

.fragment {
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: absolute;
    width: 70%;
    height: 40%;
    transform: translate(100px, -20px);
    opacity: 0;
    transition: transform 0.6s, opacity 0.6s;
}

.fragment.in {
    transform: translate(0, 0);
    opacity: 1;
    transition-timing-function: ease-out, ease-in;
    transition-delay: 0.4s;
}

.fragment.out {
    transform: translate(-100px, 20px);
    opacity: 0;
    transition-timing-function: ease-in, ease-out;
    transition-delay: 0s;
}
