* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #fa9c8c url(../img/background.png) no-repeat center center;
    background-size: cover;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    width:100%;
    color: #c6ecf1;
}

a {
    color: white;
    text-decoration: none;
}

a:hover, a:active {
    color: #b1d8e9;
}

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}

.swipe-wrap {
    overflow: hidden;
    position: relative;
}

.swipe-wrap > div {
    position: relative;
    float: left;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.title {
    background: url(../img/title.png) no-repeat center;
    background-size: contain;
    height: 100vh;
    width: 100%;
}

.controls-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.controls-page > * {
    padding: 15px 0 15px 0;
}

/* player controls */
.controls {
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.controlButton {
    cursor: pointer;
    height: 100px;
    width: 100px;
    background: transparent;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.controlButton:active {
    opacity: 0.5;
}

.controlButton.ffw {
    background-image: url(../dummy/img/wind-fw.png);
}

.controlButton.rew {
    background-image: url(../dummy/img/wind-back.png);
}

.controlButton.playpause {
    background-image: url(../dummy/img/play-pause-wait.png);
    width: 180px;
    background-size: 100% auto;
}

.playpause.play {
    background-position: 50% 0px;
}

.playpause.pause {
    background-position: 50% -100px;
}

.playpause.wait {
    background-position: 50% -200px;
    cursor: default;
    animation: throb 2.3s infinite;
}

@keyframes throb {
    0%   { opacity: 1.0; }
    50%  { opacity: 0.0; }
    100% { opacity: 1.0; }
}
